## Import data from Excel into MySQL using Python

### This project is about importing the data from Excel to MySql Database using Python. 
##### Before downloading the dependencies, make sure the packages required for interfacing MySQL and Excel are installed on the system. For this program, since I have Python 3.7 updated, I have made use of the PyMySQL package.

##### P.S. The MySQL version used is 8.0

In [8]:
#### Download the dependencies
#### Dwnload and install the xlrd library and MySQLdb module-
import xlrd
import MySQLdb

In [9]:
##### The database name is Sample and the table that needs to be inserted in titanic

book = xlrd.open_workbook("C:/Users/Kavita Bhat/Desktop/titanic.xls")
sheet = book.sheet_by_name("titanic")

In [10]:
####establishing a connection with the root server. Make sure the encrypted password string is the one that is used for the 
#### passwd field in the connect()
database = MySQLdb.connect (host="localhost", user = "root", passwd = " ", db = "Sample")

In [11]:
##### A cursor allows you to iterate a set of rows returned by a query and process each row accordingly.

cursor = database.cursor()

In [12]:
##### A MySQL insert statement is stored as a string   

query = """INSERT INTO titanic (PassengerId, Survived, Pclass, Passenger_name, Sex, Age, SibSp,
Parch, Ticket, Fare, Cabin,Embarked) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

In [13]:
##### Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers

for r in range(1, sheet.nrows):
    PassengerId = sheet.cell(r,0).value
    Survived    = sheet.cell(r,1).value
    Pclass      = sheet.cell(r,2).value
    Passenger_name  = sheet.cell(r,3).value
    Sex         = sheet.cell(r,4).value
    Age         = sheet.cell(r,5).value
    SibSp       = sheet.cell(r,6).value
    Parch       = sheet.cell(r,7).value
    Ticket      = sheet.cell(r,8).value
    Fare        = sheet.cell(r,9).value
    Cabin       = sheet.cell(r,10).value
    Embarked    = sheet.cell(r,11).value
    
    # Assign values from each row
    values = (PassengerId, Survived, Pclass, Passenger_name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin,Embarked)
    
    # Execute sql Query
    cursor.execute(query, values)
    
cursor.close()

# Commit the transaction
database.commit()

# Close the database connection
database.close()

# Print results
print("Importing rows to MySQL table is Completed")

Importing rows to MySQL table is Completed